<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.buffbass.tvcalc" versionCode="10" version="2.0.1">
  <!-- versionCode is optional and Android only -->
  <name>Tidal Volume Calculator</name>
  <description>App for calculating ventilator tidal volume for an adult</description>
  <author href="https://build.phonegap.com" email="support@phonegap.com">BuffBass</author>
  <icon src="icon.png" />
</widget>